<div class="content" style="position:relative; box-sizing: border-box; width: 100%; font-size: 1.2rem; background: #b9a07e; padding-left: 20px; overflow-wrap: break-word; padding-right: 20px; color: rgb(27, 26, 26)">
    Hi <b>{{context.first_name}}</b>, 
    <br> <br>
    You are just two steps away to login again. Enter the OTP {{context.token}} to verify your email. 
    <br> <br>
    <strong>OTP : {{context.token}}</strong>
    <br>
    Best,<br>
    <b>FinnOne.in <br>
    Invest in Future</b>
    <br> <br> <hr> <br> 
    <b>** NOTE: This is a system-generated mail. Don't reply to this mail id. If you didn't initiate this reset, kindly ignore this mail. And change your password**</b>
    <br> <br>
</div>